:root {
  --secondary-color: #f4f5fc;
  --accent-color: #b989b3;
  --background-color: #06223f;
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
  --accent-font-family: "Roboto", sans-serif;
}

body {
  background: url("images/starrysky.jpg");
  background-size: 200%;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  border-radius: 2.5px;
  background: var(--secondary-color);
  min-width: 350px;
  max-width: auto;
}

.container {
  background-color: var(--background-color) !important;
  opacity: 90%;
  padding: 15px;
  max-width: 375px !important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 250px auto;
}

.App small {
  font-size: 10px;
  color: var(--accent-color);
  font-weight: bold;
}

a:hover {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: underline !important;
}

a {
  color: var(--accent-color) !important;
  text-decoration: none !important;
}
.navbar {
  padding: 100px;
  margin-top: 400px;
  background-color: #fff;
}
.container-fluid {
  display: block;
  background: #fff;
  border-radius: 2px;
  padding: 10px;
  font-size: 9px;
  min-width: 180px;
  text-align: center;
}
.coder-social {
  font-size: 15px;
  padding: 3px;
}
.coder-social:hover {
  transition: 200ms ease-in-out;
  font-size: 18px;
  color: var(--background-color);
}

@media (max-width: 887px) {
  footer {
    margin: 0 auto;
    position: absolute;
    right: 5%;
    bottom: 55%;
  }
}
@media (max-width: 600px) {
  .container {
    margin: 100px auto;
  }
  .navbar {
    padding: 100px;
    margin-top: 400px;
  }
}
