:root {
  --secondary-color: #f4f5fc;
  --accent-color: #b989b3;
  --background-color: #06223f;
}
body {
  background-image: url("images/starrysky.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-color: var(--background-color);
  width: 100%;
  height: auto;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  border-radius: 2.5px;
  background: var(--secondary-color);
  min-width: 350px;
  max-width: auto;
}

.container {
  background-color: var(--background-color);
  opacity: 90%;
  padding: 15px;
  max-width: 375px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 250px auto;
}

.App small {
  font-size: 10px;
  color: var(--accent-color);
  font-weight: bold;
}

a:hover {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: underline;
}
a {
  color: var(--accent-color);
  text-decoration: none;
}
.navbar {
  background: fit-content;
  padding: 100px;
  margin-top: 400px;
}
footer {
  display: block;
  background: white;
  border-radius: 2px;
  padding: 10px;
  font-size: 9px;
  min-width: 180px;
  text-align: center;
}
@media (max-width: 887px) {
  footer {
    margin: 0 auto;
    position: absolute;
    right: 5%;
    bottom: 5%;
  }
  .navbar {
    background-color: var(--background-color);
    padding: 100px;
    margin-top: 400px;
  }
}
@media (max-width: 600px) {
  .container {
    margin: 100px auto;
  }
}
