:root {
  --secondary-color: #f4f5fc;
  --accent-color: #b989b3;
  --background-color: #06223f;
}
h1,
p {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
  color: var(--secondary-color);
}
