:root {
  --secondary-color: #f4f5fc;
  --accent-color: #b989b3;
  --background-color: #06223f;
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
  --accent-font-family: "Roboto", sans-serif;
}
h3 {
  margin-top: 200px auto;
  font-family: var(--accent-font-family);
}
h1,
p {
  font-family: var(--primary-font-family);
}
ul {
  margin: 25px auto;
}
li {
  list-style: none;
  color: var(--background-color);
  font-family: var(--accent-font-family);
  text-align: left;
}

form,
form::placeholder,
form:focus-visible {
  color: var(--accent-color) !important;
  font-size: 14px;
}

.btn {
  font-size: 13px !important;
  margin-left: 10px;
  padding: 0px;
  border-radius: 2.5px;
  background: var(--background-color) !important;
  color: white !important;
}

.btn:hover {
  color: var(--background-color) !important;
  border: 1px solid var(--background-color) !important;
  background: white !important;
  transition: ease-in-out 200ms;
  cursor: pointer;
}
.globe-image,
.weather-icon {
  justify-content: right;
}
