:root {
  --secondary-color: #f4f5fc;
  --accent-color: #b989b3;
  --background-color: #06223f;
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
  --accent-font-family: "Roboto", sans-serif;
}

h1 {
  font-family: var(--primary-font-family);
}
form,
form::placeholder,
form:focus-visible {
  font-size: 14px;
}
input:focus {
  outline-color: var(--accent-color) !important;
}
.btn {
  font-size: 13px !important;
  margin-left: 10px;
  padding: 0px;
  border-radius: 2.5px;
  background: var(--background-color) !important;
  color: white !important;
}

.btn:hover {
  color: var(--background-color) !important;
  border: 1px solid var(--background-color) !important;
  background: white !important;
  transition: ease-in-out 400ms;
  cursor: pointer;
}
